.nav-logo {
    width: 50%;
    height: auto;
}

.nav-login {
    margin-right: 5px !important;
}

.nav-register-button {
    border-radius: 10px;
    background-color: #293c51;
    color: #FFA500;
    padding: 5px 12px 5px 12px;
}

.nav-register-button:hover {
    border: 2px solid #FFA500;
}

.card {
    border: 4px solid #FFA500;
}

.btn-primary {
    background-color: #293c51;
    color: #FFA500;
    border: 2px solid #293c51;
}

.btn-primary:hover {
    background-color: #293c51;
    color: #FFA500;
    border: 2px solid #FFA500;
}

.card-header {
    color: #293c51;
    font-size: 18px;
}

.add-hotel-btn {
    margin: 20px;
}